.calculator {
    margin: 68px 0 50px;
    @include breakpoint($bp-992) {
        margin: 40px auto;
    }
    @include breakpoint($bp-768) {
        width: 300px;
        margin: 30px auto;
    }
}
.polzunok-container-2 * {
    box-sizing: border-box;
    outline: none;

}
.polzunok-2 {
    margin-bottom: 10px;
}


.polzunok-block {
    display: flex;
    flex-direction: column;
}
.polzunok__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}
.polzunok__title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    @include breakpoint($bp-992) {
        font-size: 16px;
        line-height: 20px;
    }
    @include breakpoint($bp-768) {
        font-size: 14px;
        line-height: 18px;
    }
    
}
.polzunok__value {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    @include breakpoint($bp-992) {
        font-size: 25px;
        line-height: 30px;
    }
    @include breakpoint($bp-768) {
        font-size: 20px;
        line-height: 25px;
    }
}
.polzunok__value-one {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    @include breakpoint($bp-992) {
        font-size: 25px;
        line-height: 30px;
    }
    @include breakpoint($bp-768) {
        font-size: 20px;
        line-height: 25px;
    }
}
.polzunok-scale {
    display: flex;
    justify-content: space-between;
    &-value {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #8A949D;
    }
}
.polzunok__result {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 38px;
    color: #DB8032;
    margin-top: 13px;
    @include breakpoint($bp-992) {
        font-size: 33px;
        line-height: 28px;
    }
    @include breakpoint($bp-768) {
        font-size: 30px;
        line-height: 25px;
    }
}