.footer {
    background: url(/assets/images/bg-1-80.jpg);
    background-repeat: no-repeat;  
    background-position: center top;
    padding: 55px 0 40px;
    &__title {
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
        line-height: 48px;
    }
    &__p {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        margin-bottom: 50px;
        text-align: center;
        line-height: 26px;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
    }
    &__logo {
        display: flex;
        flex-direction: column;
    }
    &__text {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        margin-top: 20px;
        &-m0 {
            margin-top: 5px;
            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
    &-social {
        display: flex;
        &__link {
            margin-right: 25px;
            &:last-child {
                margin-right: 0px;
            }
        }
    }
    &-contact {
        display: flex;
        flex-direction: column;
        text-align: right;
        &__phone {
            font-size: 18px;
            font-family:'Roboto Black';
            color: $white;
            text-decoration: none;
            line-height: 21px;
            float: right;
        }
    }
    
}