.footer {
    background: url(../images/bg-1-80.jpg);
    background-size: cover;
    background-position: center top;
    height: auto;
    padding: 55px 0 40px;
    &__title {
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
        line-height: 48px;
        @include breakpoint($bp-1200) {
            font-size: 30px;
        }
        @include breakpoint($bp-992) {
            font-size: 25px;
        }
        @include breakpoint($bp-576) {
            font-size: 20px;
        }
    }
    &__p {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        margin-bottom: 50px;
        text-align: center;
        line-height: 26px;
        @include breakpoint($bp-992) {
            font-size: 20px;
        }
        @include breakpoint($bp-576) {
            font-size: 17px;
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        @include breakpoint($bp-992) {
            flex-direction: column;
            justify-content: center;
        }
    }
    &__logo {
        display: flex;
        flex-direction: column;
        @include breakpoint($bp-992) {
            margin: 0 auto;
        }
    }
    &__text {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        margin-top: 20px;
        &-m0 {
            margin-top: 5px;
            a {
                color: $white;
                text-decoration: none;
            }
        }
        @include breakpoint($bp-992) {
            text-align: center;
        }
    }
    &-social {
        display: flex;
        &__link {
            margin-right: 25px;
            &:last-child {
                margin-right: 0px;
            }
        }
        @include breakpoint($bp-992) {
            margin: 20px auto;
        }
    }
    &-contact {
        display: flex;
        flex-direction: column;
        text-align: right;
        &__phone {
            font-size: 18px;
            font-family:'Roboto Black';
            color: $white;
            text-decoration: none;
            line-height: 21px;
            float: right;
        }
        @include breakpoint($bp-992) {
            margin: 20px auto;
            text-align: center;
        }
    }
    
}