.form {
    background: #CBDEE7;
    border-radius: 18px;
    padding: 20px 30px 17px;
    box-shadow: 0px 7px 10px 0px rgba(50, 50, 50, 0.16);
    @include breakpoint($bp-1200) {
        padding: 15px 20px 7px;
    }
    &__title {
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 24px;
        color: $primary;
        margin-bottom: 20px;
        @include breakpoint($bp-1200) {
            text-align: center;
        }
        @include breakpoint($bp-576) {
            font-size: 15px;
        }
    }
    &__block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: $primary;
        
        &-link {
            width: 33%;
            height: auto;
            display: flex;
            flex-direction: column;
            padding: 0px 40px 0px 18px;
            border-right: 1px solid #BBC5CC;
            @include breakpoint($bp-992) {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0px 10px 0px;
                border-right: none;
                border-bottom: 1px solid #BBC5CC;
            }

            &:first-child {
                padding-left: 0px;
            }
            &:last-child {
                padding-right: 0px;
                border-right: none;
            }
            input {
                border: none;
                padding-left: 0;
        
            }
            label {
                margin-bottom: 3px;
                font-family: 'Roboto', sans-serif;
                @include breakpoint($bp-992) {
                    margin-bottom: 0;
                }
            }
        }
        @include breakpoint($bp-1200) {
            width: 100%;
        }
        @include breakpoint($bp-992) {
            width: 100%;
            flex-direction: column;
            margin-bottom: 10px;
        }
        @include breakpoint($bp-576) {
            padding: 0 10px;
        }
    }
    &__form {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include breakpoint($bp-992) {
            flex-direction: column;
        }
    }
    &__button {
       
        background: #803480;
        color: $white;
        border: none;
        border-radius: 9px;
        outline: none;
        text-transform: uppercase;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        padding: 21px 20px;
        font-size: 16px;
        img {
            margin-left: 5px;
        }
        &--center{
            width: 100%;
            text-align: center;
        }
        @include breakpoint($bp-1200) {
            padding: 10px 14px;
            font-size: 13px;
        }
    }
    &__p {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: $primary;
        margin-top: 16px;
        margin-bottom: 0;
        @include breakpoint($bp-576) {
            font-size: 10px;
        }
    }
    &__a {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #808080;
        @include breakpoint($bp-576) {
            font-size: 10px;
        }
    }
}

.button__img {
    @include breakpoint($bp-1200) {
        display: none;
    }
}
.form__blocks {
    width: 60%;
    background-color: $white;
    display: flex;
    border-radius: 9px;
    padding: 10px 0 10px 10px;
    @include breakpoint($bp-992) {
        width: 100%;
        flex-direction: column;
        margin-bottom: 10px;

    }
}