.franchise {
    margin-top: 100px;
    margin-bottom: 120px;
    color: $primary;
    @include breakpoint($bp-576) {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    &__title {
        font-family: 'Ubuntu', sans-serif;
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
        line-height: 36px;
        font-weight: bold;
        @include breakpoint($bp-992) {
            font-size: 30px;
            line-height: 30px;
        }
        @include breakpoint($bp-576) {
            font-size: 20px;
            line-height: 25px;
        }
    }
    &__p {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 22px;
        line-height: 26.4px;
        @include breakpoint($bp-992) {
            font-size: 18px;
            line-height: 20px;
        }
        @include breakpoint($bp-576) {
            font-size: 14px;
            line-height: 16px;
        }
    }
    &__blocks {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        margin-bottom: 35px;
        width: 100%;
        margin: 35px auto;
    }
    &__block {
        padding: 10px 40px 20px;
        background: #E7E7E7;
        border-radius: 15px;
        &--link {
            width: 100%;
            padding: 27px 0px 24px;
            border-bottom: 1px solid $white;
            &:last-child {
                border-bottom: none;
            }
            
        }
        @include breakpoint($bp-1200) {
            width: 315px;
            margin: 0 auto 20px;
            padding: 10px 20px 20px;
        }
        @include breakpoint($bp-576) {
            width: 100%;
            padding: 10px 10px 20px;
        }
        
    }
}
.link-title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    &--bold {
        font-weight: bold;
        font-size: 18px;
    }
    &--orange {
        font-size: 22px;
        color: #DB8032;
    }
    @include breakpoint($bp-576) {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 15px;
    }
}
.link-number {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #DB8032;
    font-size: 30px;
    text-align: center;
    @include breakpoint($bp-576) {
        font-size: 25px;
        line-height: 18px;
    }
}