.wedding {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .wedding__item {
    width: 340px;
    height: 340px;
    padding: 20px;
    overflow: hidden;
    img {
        border-radius: 18px!important;
        width: 100%;
        height: 100%;
    }
  }
  
  .dots-style {
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .dots-style button {
    background: #fff;
    border: none;
    border-radius: 50%;
    font-size: 0;
    height: 11px;
    width: 10px;
    margin: 5px;
    outline: none;
  }
  
  .dots-style li[class="slick-active"] button {
    background: #DB8032;
  }
