.statistics {
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 140px;
    color: $primary;
    @include breakpoint($bp-576) {
        margin-top: 80px;
        padding: 0 7.5px;
    }
    &__block {
        margin-bottom: 138px;
        padding-left: 60px;
        @include breakpoint($bp-1200) {
            padding-left: 0px;
        }
        @include breakpoint($bp-576) {
            margin-bottom: 80px;
        }
        &--right {
            padding-left: 0px;
            padding-right: 60px;
            @include breakpoint($bp-1200) {
                padding-right: 0px;
            }
        }
    }
    &__img {
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: 18px;
        img {
            width: auto;
            height: 800px;
            @include breakpoint($bp-992) {
                height: 500px;
            }
        }
        @include breakpoint($bp-768) {
            display: none;
        }
    }
    &__content {
        width: 420px;
        margin: 100px auto 0;
        @include breakpoint($bp-992) {
            width: 400px;
            margin: 0 auto 0;
        }
        @include breakpoint($bp-768) {
            text-align: center;
        }
        @include breakpoint($bp-576) {
            width: 290px;
        }
        &--center {
            margin-top: 215px;
            @include breakpoint($bp-992) {
                width: 400px;
                margin: 100px auto 0;
            }
            @include breakpoint($bp-768) {
                text-align: center;
            }
            @include breakpoint($bp-576) {
                width: 290px;
            }
        }
    }
    &__title {
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 2px;
        @include breakpoint($bp-992) {
            font-size: 25px;
            line-height: 25px;
        }
        @include breakpoint($bp-768) {
            text-align: center;
        }
        @include breakpoint($bp-576) {
            font-size: 20px;
            line-height: 25px;
        }

    }
    &__p {
        margin-top: 47px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 22px;
        @include breakpoint($bp-992) {
            font-size: 15px;
            line-height: 20px;
        }
        @include breakpoint($bp-768) {
            text-align: center;
        }
        @include breakpoint($bp-576) {
            font-size: 14px;
            line-height: 16px;
            margin-top: 20px;
        }
        &:last-child {
            margin-top: 25px;
            @include breakpoint($bp-576) {
                margin-top: 10px;
            }
        }
        &--14 {
            color: #8A949D;
            margin-top: 0;
            font-size: 14px;
            margin-top: 18px;
            @include breakpoint($bp-576) {
                margin-top: 10px;
            }
        }
        &--16 {
            color: $primary;
            margin-top: 25px;
            font-size: 16px;
            line-height: 22px;
            @include breakpoint($bp-576) {
                font-size: 14px;
                line-height: 18px;
                margin-top: 10px;
            }
        }
        &--18 {
            margin-top: 0;
            font-size: 18px;
            line-height: 24px;
            position: relative;
            
            &:last-child {
                margin-top: 0px;
            }
            @include breakpoint($bp-992) {
                font-size: 14px;
                line-height: 20px;
                text-align: left;
            }
            @include breakpoint($bp-576) {
                font-size: 12px;
                line-height: 18px;
                
            }
            
        }
    }
    &__bold {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        &--orange {
            font-size: 20px;
            color: #DB8032;
            font-family: 'Ubuntu', sans-serif;
            font-weight: bold;
            line-height: 24px;
            @include breakpoint($bp-576) {
                font-size: 16px;
                line-height: 18px;
            }
        }
        @include breakpoint($bp-992) {
            font-size: 16px;
            line-height: 20px;
        }
        @include breakpoint($bp-576) {
            font-size: 15px;
            line-height: 18px;
        }
    }
}

.stats {
    display: flex;
    flex-direction: column;
    margin-top: 63px;
    @include breakpoint($bp-576) {
        margin-top: 25px;
    }
    &--block {
        margin-top: 0px;
    }
    &__link {
        display: flex;
        align-items: center;

        width: 100%;
        &--mt {
            margin-top: 15px;
        }
        &-number {
            width: 40%;
            margin-right: 40px;
        
        }
        &-img {
            width: 20%;
            padding-right: 25px;
            text-align: center;
            
        }
        &-info {
            width: 60%;
            position: relative;
            display: flex;
            flex-direction: column;
            &::after {
                display: block;
                content: '';
                height: 93%;
                width: 1px;
                background: black;
                position: absolute;
                top: 5px;
                left: -11px;
                @include breakpoint($bp-576) {
                    left: -15px;
        
                }
            }
            &--line {
                padding-left: 15px;
                width: 80%;
               &::after {
                    display: block;
                    content: '';
                    height: 93%;
                    width: 1px;
                    background: black;
                    position: absolute;
                    top: 5px;
                    left: -11px;
                    @include breakpoint($bp-576) {
                        left: 0px;
            
                    }
                }
            }
        }
    }
}

.stats-top-text {
    width: 50%;
}
.stats-top-number {
    width: 50%;
}