.value-tender {
    background: url(../images/bg-1-80.jpg);

    background-repeat: no-repeat;  
    background-position: center top;
    margin-bottom: 145px;
    @include breakpoint($bp-992) {
        background-size: cover;
        height: auto;
    }
    &__title {
        padding-top: 60px;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
        color: $white;
        margin-bottom: 10px;
        &--left {
            text-align: left;
            margin-bottom: 55px;
            @include breakpoint($bp-992) {
                text-align: center;
            }
        }
        @include breakpoint($bp-576) {
            font-size: 20px;
        }
    }
    &__p {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        &--16 {
            font-size: 16px;
            text-align: left;
            margin-bottom: 25px;
        }
        @include breakpoint($bp-576) {
            font-size: 12px;
        }
    }
    &__form {
        margin-top: 30px;
        padding: 37px 52px;
        background: $white;
        box-shadow: 0px 5px 35px 0px rgba(50, 50, 50, 0.75);
        border-radius: 18px;
        margin-bottom: 20px;
        @include breakpoint($bp-576) {
            padding: 15px 15px;
        }
    }
    &__info {
        width: 400px;
        padding-bottom: 20px;
        @include breakpoint($bp-992) {
            margin: 0 auto;
        }
        @include breakpoint($bp-576) {
            width: 100%;
        }
    }
    &__author {
        padding-top: 60px;
        width: 220px;
        margin: 0 auto;
        @include breakpoint($bp-992) {
            padding-top: 20px;
            padding-bottom: 20px;
        }

    }
    &__img {
        width: 220px;
        height: 220px;
        background: url(../images/bg-author.png);
        position: relative;
        margin-bottom: 25px;
        img {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }
    &__text {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: italic;
        &--right {
            margin-top: 20px;
            text-align: right;
        }
    }
}

.form-tender__blocks {
    position: relative;
    &::after {
        position: absolute;
        top: 5px;
        left: 50%;
        display: block;
        content: '';
        height: 241px;
        width: 1px;
        background: #CBDEE7;
    }
}

.form-tender__block {
    display: flex;
    border-bottom: 1px solid #CBDEE7;
    &:last-child {
        border-bottom: none;
    }

}
.block-header {
    width: 50%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #DB8032;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    @include breakpoint($bp-992) {
        font-size: 18px;
    }
    @include breakpoint($bp-576) {
        font-size: 14px;
    }
}
.block-content {
    width: 50%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: $primary;
    font-size: 40px;
    text-align: center;
    padding: 3px 0;
    @include breakpoint($bp-992) {
        font-size: 30px;
    }
    @include breakpoint($bp-576) {
        font-size: 20px;
    }
    
}