<footer class="footer">
    <div class="container">
        <div class="footer__title">
            В каждом городе Российской федерации
            <br>
            каждый год проводятся десятки и сотни тендеров
        </div>
        <div class="footer__p">
            Оставьте заявку и мы расскажем вам сколько из них вы 
            <br>
            сможете взять в следующем месяце
        </div>
        <div class="form">
            <div class="form__title">
                Оставьте заявку на презентацию франшизы и бизнес-план
            </div>
            <div class="form__form">
                <form action="" class="form__block">
                    <div class="form__block-link">
                        <label>Ваше имя</label>
                        <input type="text" required placeholder="Введите имя">
                    </div>
                    <div class="form__block-link">
                        <label>Телефон</label>
                        <input name="tel" placeholder="+ _ (___) ___-____">
                    </div>
                    <div class="form__block-link">
                        <label>Почта</label>
                        <input type="email" required placeholder="email@mail.com">
                    </div>
                </form>
                <button type="button" class="form__button" >Получить документацию <img src="/assets/images/icon-pdf.png" alt=""></button>
            </div>
            <p class="form__p">Я подтверждаю, что ознакомлен и даю согласие на обработку персональных анных на условиях и для целей, определяемых <a href="" class="form__a">Политикой конфиденциальности</a> </p>
        </div>
        <div class="footer__footer">
            <div class="footer__logo">
                <a href="/"><img src="/assets/images/logo.png" alt=""></a>
                <span class="footer__text">
                    © «Русинстрой+», 2021
                </span>
            </div>
            <div class="footer-social">
                <div class="footer-social__link">
                    <a href=""><img src="/assets/images/facebook.png" alt=""></a>
                </div>
                <div class="footer-social__link">
                    <a href=""><img src="/assets/images/instagram.png" alt=""></a>
                </div>
                <div class="footer-social__link">
                    <a href=""><img src="/assets/images/youtube.png" alt=""></a>
                </div>
            </div>
            <div class="footer-contact">
                <a class="footer-contact__phone" href="tel:+74842228298">+7(4842) 22-82-98</a>
                <span class="footer__text footer__text-m0">
                    Россия, гор. Калуга, ул. Труда, 15,
                    <br>
                    2 этаж, Район Московский
                </span>
                <span class="footer__text footer__text-m0">
                    <a href="">Политика конфиденциальности</a>
                </span>
            </div>
        </div>
    </div>
</footer>
