<footer class="footer">
    <div class="container">
        <div class="footer__title">
            В каждом городе Российской федерации
            <br>
            каждый год проводятся десятки и сотни тендеров
        </div>
        <div class="footer__p">
            Оставьте заявку и мы расскажем вам сколько из них вы 
            <br>
            сможете взять в следующем месяце
        </div>
        <div class="form">
            <div class="form__title">
                Свяжитесь со специалистом
            </div>
            <div class="form__form">
                <form action="mail.php" method="POST" class="form__block" id="form6">
                    <div class="form__blocks">
                        <!-- Hidden Required Fields -->
                        <input type="hidden" name="admin_email[]" value="master-net-bratsk@yandex.ru">
                        <input type="hidden" name="admin_email[]" value="leads@conversionpro.agency">
                        <input type="hidden" name="form_subject" value="Клиент с сайта ООО Выбор">
                        <div class="form__block-link">
                            <label for="name">Ваше имя</label>
                            <input type="text" data-validate-field="name" name="name" placeholder="Введите имя"></input>
                            
                        </div>
                        <div class="form__block-link">
                            <label for="tel">Телефон</label>
                            <input type="tel" data-validate-field="tel" name="tel" placeholder="+ _ (___) ___-____">
                        </div>
                        <div class="form__block-link">
                            <label for="email">Почта</label>
                            <input type="email" data-validate-field="email" name="email" placeholder="email@mail.com"></input>
                        </div>
                    </div>
                
                    <button type="submit" value="Submit" class="form__button" >Получить документацию <img class="button__img" src="assets/images/icon-pdf.png" alt=""></button>

                </form>
            </div>
            <p class="form__p">Я подтверждаю, что ознакомлен и даю согласие на обработку персональных анных на условиях и для целей, определяемых <a href="" class="form__a">Политикой конфиденциальности</a> </p>
        </div>
        <div class="footer__footer">
            <div class="footer__logo">
                <a href="/"><img src="assets/images/logo.png" alt=""></a>
                <span class="footer__text">
                    ООО "Выбор", 2021
                </span>
            </div>
            <div class="footer-contact">
                <a class="footer-contact__phone" href="tel:+79832013326">+7(983) 201-33-26</a>
                <span class="footer__text footer__text-m0">
                    г. Иркутск ул. Пискунова д.54 оф.9
                </span>
                <span class="footer__text footer__text-m0">
                    <a href="">Политика конфиденциальности</a>
                </span>
            </div>
        </div>
    </div>
</footer>
