<footer class="footer">
    <div class="container">
        <div class="footer__title">
            В каждом городе Российской федерации
            <br>
            каждый год проводятся десятки и сотни тендеров
        </div>
        <div class="footer__p">
            Оставьте заявку и мы расскажем вам сколько из них вы 
            <br>
            сможете взять в следующем месяце
        </div>
        <div class="form">
            <div class="form__title">
                Свяжитесь со специалистом
            </div>
            <div class="form__form">
                <form id="form4" method="post" action="send.php" class="form__block">
                    <div class="form__blocks">
                        <input type="hidden" name="project_name" value="Выбор">
                        <input type="hidden" name="admin_email" value="leads@conversionpro.agency">
                        <input type="hidden" name="admin_email" value="master-net-bratsk@yandex.ru">
                        <input type="hidden" name="form_subject" value="Пятая форма">
                        <div class="form__block-link">
                            <label for="fname">Имя</label>
                            <input type="text" id="fname" name="fname" placeholder="Введите имя"></input>
                        </div>
                        <div class="form__block-link">
                            <label for="phone">Телефон</label>
                            <input type="tel" id="phone" name="phone" placeholder="+ _ (___) ___-____">
                        </div>
                        <div class="form__block-link">
                            <label for="user_email">Почта</label>
                            <input type="email" id="user_email" name="user_email" placeholder="email@mail.com"></input>
                        </div>
                    </div>
                
                    <button type="submit" value="Submit" class="form__button" >Свяжитесь со мной <img class="button__img" src="assets/images/search.png" alt=""></button>
    
                </form>
            </div>
            <p class="form__p">Я подтверждаю, что ознакомлен и даю согласие на обработку персональных анных на условиях и для целей, определяемых <a href="" class="form__a">Политикой конфиденциальности</a> </p>
        </div>
        <div class="footer__footer">
            <div class="footer__logo">
                <a href="/"><img src="assets/images/logo.png" alt=""></a>
                <span class="footer__text">
                    © «Русинстрой+», 2021
                </span>
            </div>
            <div class="footer-contact">
                <a class="footer-contact__phone" href="tel:+74842228298">+7(4842) 22-82-98</a>
                <span class="footer__text footer__text-m0">
                    Россия, гор. Калуга, ул. Труда, 15,
                    <br>
                    2 этаж, Район Московский
                </span>
                <span class="footer__text footer__text-m0">
                    <a href="">Политика конфиденциальности</a>
                </span>
            </div>
        </div>
    </div>
</footer>
