<header class="header">
    <div class="header-bg">
        <div class="container ">
            <div class="header__inner">
                <div class="header__top">
                    <div class="logo">
                        <div class="logo-img">
                            <a href="/"><img src="assets/images/logo.png" alt=""></a>
                        </div>
                        <div class="logo-text">
                            5 лет опыта в тендерах
                        </div>
                    </div>
                    <div class="contact">
                        <a class="contact-phone" href="tel:+74842228298">+7(4842) 22-82-98</a>
                         <a class="contact-application" href="">Оставить заявку</a>
    
                    </div>
                </div>
                <div class="header__main">
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <h1 class="h1-title">
                                Франшиза по госзакупкам 
                                в области строительства
                            </h1>
                            <div class="main-text">
                                Зарабатывайте до <span class="text-orange">5 000 000 рублей</span> 
                                <br>
                                на одной сделке 
                            </div>
                            <div class="main-icon">
                                        <div class="block-icon">
                                            <div class="block-icon__img">
                                                <img src="assets/images/icon-1.png" alt="">
                                            </div>
                                            <div class="block-icon__text">
                                                Окупаемость
                                                <br>
                                                бизнеса до 2 
                                                <br>
                                                месяцев
                                            </div>
                                        </div>
                                        <div class="block-icon">
                                            <div class="block-icon__img">
                                                <img src="assets/images/icon-2.png" alt="">
                                            </div>
                                            <div class="block-icon__text">
                                                Свободный график
                                                <br>
                                                Можно работать 
                                                <br>
                                                из дома
                                            </div>
                                        </div>
                                        <div class="block-icon">
                                            <div class="block-icon__img">
                                                <img src="assets/images/icon-3.png" alt="">
                                            </div>
                                            <div class="block-icon__text">
                                                Без ограничений 
                                                <br>
                                                в доходах
                                            </div>
                                        </div>
                            </div>
                        </div>
                        <div class="col-6 col-xl-6">
                            <div class="main-img">
                                <img src="assets/images/main-img.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form" >
                <div class="form__title">
                    Оставьте заявку на презентацию франшизы и бизнес-план
                </div>
                <div class="form__form">
                    <form id="form1" method="post" action="send.php" class="form__block">
                        <div class="form__blocks">
                            <div class="form__block-link">
                                <label for="fname">Имя</label>
                                <input type="text" id="fname" name="fname" placeholder="Введите имя"></input>
                            </div>
                            <div class="form__block-link">
                                <label for="phone">Телефон</label>
                                <input type="tel" id="phone" name="phone" placeholder="+ _ (___) ___-____">
                            </div>
                            <div class="form__block-link">
                                <label for="user_email">Почта</label>
                                <input type="email" id="user_email" name="user_email" placeholder="email@mail.com"></input>
                            </div>
                        </div>
                    
                        <button type="submit" value="Submit" class="form__button" >Получить документацию <img class="button__img" src="/assets/images/icon-pdf.png" alt=""></button>

                    </form>
                </div>
                <p class="form__p">Я подтверждаю, что ознакомлен и даю согласие на обработку персональных анных на условиях и для целей, определяемых <a href="" class="form__a">Политикой конфиденциальности</a> </p>

            </div>
        </div>
    </div>
    
</header>
